:root {
  --startColor: #ddd;
  --endColor2: #fff;
}
body {
  width: 100vw;
  height: 100vh;
  background: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 80vw;
  height: 15vw;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  flex: 1;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

/* 播放 */
#playWrapper {
  position: relative;
  height: 5vw;
  width: 5vw;
  /* background-color: #f40; */
  overflow: hidden;
}
.play_open {
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 3.5vw solid var(--startColor);
  border-right: 0vw solid transparent;
  transform: translate(-100%, 0.5vw);
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.play_open.play_show {
  transform: translate(0, 0.5vw);
  opacity: 1;
}
.play_close {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.play_close_left {
  display: inline-block;
  width: 1vw;
  height: 4vw;
  background-color: var(--startColor);
  border-radius: 1vw;
  position: absolute;
  top: 0.5vw;
  left: 1vw;
  transform: translateX(2vw);
  opacity: 0;

  transition: all 0.2s ease-in-out;
}
.play_show .play_close_left {
  transform: translateX(0vw) scale(1);
  opacity: 1;
}
.play_close_right {
  display: inline-block;
  width: 1vw;
  height: 4vw;
  background-color: var(--startColor);
  border-radius: 1vw;
  position: absolute;
  top: 0.5vw;
  right: 1vw;
  transform: translateX(2vw) scale(0.5);
  transition: all 0.2s ease-in-out;
}
.play_show .play_close_right {
  animation: play_close_right 0.4s ease-in-out forwards;
}
@keyframes play_close_right {
  0% {
    transform: scale(0.3);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* 字幕 */
#subtitleWrapper {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 0.6vw 0;
  overflow: hidden;
  user-select: none;
}
#subtitleContent {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#subtitleContent:hover .subtitle_fontAtOpen,
#subtitleContent:hover .subtitle_fontAtClose,
#subtitleContent:hover .subtitle_line {
  background-color: var(--endColor2);
}
#subtitleContent:hover .subtitle_fontAtClose {
  animation: closezimu 0.1s linear 2;
}
.subtitle_line {
  position: absolute;
  top: -140%;
  left: -90%;
  width: 100%;
  height: 16%;
  background-color: var(--startColor);
  border-radius: 3px;
  transform: translate(-0.1vw, 1.7vw) rotate(35deg);
  box-shadow: 0.4vw -0.5vw 0 #000;
  transition: all 0.1s linear;
}
.subtitle_fontAtOpen {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--startColor);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  font-size: 3vw;
  line-height: 3.5vw;
  font-weight: bold;
}
.subtitle_fontAtOpen:hover {
  animation: openzimubox 0.4s linear;
}
.subtitle_fontAtOpen:hover .subtitle_fontbox {
  animation: openzimu 0.4s linear;
}
.subtitle_fontAtClose {
  display: none;
  width: 100%;
  height: 100%;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3.5vw;
  background: var(--startColor);
  border-radius: 4px;
  transition: transform 0.4s ease-in-out;
}
.subtitle_showline {
  top: 0;
  left: 0;
}
@keyframes closezimu {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(4px, 4px);
  }
  100% {
    transform: translate(-2px, -2px);
  }
}
@keyframes openzimubox {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes openzimu {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-25%) scale(0.8);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

#volumeWrapper {
  width: 5vw;
  height: 5vw;
  /* background-color: #f40; */
  position: relative;
}

.front {
  position: absolute;
  top: 1.75vw;
  left: 0vw;
  z-index: 3;
  width: 1vw;
  height: 1.5vw;
  border-radius: 0.4vw;
  background-color: var(--startColor);
}
.main {
  position: absolute;
  top: 0.65vw;
  left: 0.5vw;
  z-index: 3;
  width: 0;
  height: 1.25vw;
  border-top: 1.25vw solid transparent;
  border-bottom: 1.25vw solid transparent;
  border-left: 0vw solid transparent;
  border-right: 2vw solid var(--startColor);
}
.line {
  width: 2.5vw;
  height: 5vw;
  position: absolute;
  top: 0;
  left: 2.5vw;
}
.line1 {
  position: absolute;
  top: 1.75vw;
  left: 0;
  z-index: 3;
  width: 0.5vw;
  height: 1.5vw;
  border-radius: 100%;
  background-color: var(--startColor);
  border-left: 0.75vw solid #000;
}
.barrier {
  position: absolute;
  top: 0.5vw;
  left: -2.25vw;
  width: 3vw;
  height: 4vw;
  z-index: 2;
  background-color: #000;
}
.line2 {
  position: absolute;
  top: 0.5vw;
  left: -1.75vw;
  z-index: 1;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  background-color: transparent;
  border-top: 0.5vw solid var(--startColor);
  border-bottom: 0.5vw solid var(--startColor);
  border-left: 0.5vw solid var(--startColor);
  border-right: 0.5vw solid var(--startColor);
}
#volumeWrapper:hover {
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
}
#volumeWrapper:hover .front{
  border-radius: .2vw;
}
#volumeWrapper:hover .line1 {
  animation: volume_line1 0.5s ease-in-out;
}
#volumeWrapper:hover .line2 {
  animation: volume_line2 0.5s 0.1s ease-in-out;
}
@keyframes volume_line1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes volume_line2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
